// FONTS
$font: 'SF UI Display', sans-serif;

// COLORS
$white: #ffffff;
$white_a: #f6f6f6;

$black: #000000;
$black_a: #34343A;
$black_b: #3F464D;

$gray: #B1B1BF;
$gray_a: #B2B2B2;
$gray_b: #7D8185;
$gray_c: #BBBBC9;
$gray_d: #EEEEF2;
$gray_e: #A7ABAF;
$gray_f: #EBEBF1;
$gray_g: #6D6D77;

$orange: #F57921;

$red: #DA291C;

$green: #3f9d2f;