
.status {

	&__list {
		position: relative;
		margin-top: -10px;
		padding: 20px 0;
		box-shadow: 0px 4px 22px rgba(52, 52, 58, 0.06);
		border-radius: 16px;

		&::before {
			content: '';
			position: absolute;
			z-index: 5;
			top: 25px;
			left: 19px;
			width: 5px;
			height: 421px;
			background-color: $gray_f;
		}
	}

	&__item {
		position: relative;
		z-index: 10;
		display: flex;
		align-items: center;
		max-width: 251px;
		margin-bottom: 47px;
		padding-left: 8px;
	}

	&__ico {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 26px;
		height: 26px;
		margin-right: 13px;
		border-radius: 50%;
		background-color: $white;
		border: 1px solid $gray_f;
		box-shadow: 0px 4px 22px rgba(52, 52, 58, 0.06);

		svg {
			width: 11px;
			height: 11px;
			fill: $gray_a;
		}
	}

	&__value {
		color: $gray_g;
		font-size: 14px;
	}

	&__scores {
		width: 92px;
		height: 34px;
		margin-left: auto;
	}

	&__active {
		.status__ico {
			svg {
				fill: $orange;
			}
		}

		.status__value {
			color: $black;
			font-weight: 700;
		}

		.status__scores {
			border: 1px solid $orange;
			color: $orange;
		}
	}
}