.settings {
	display: flex;
	flex-wrap: wrap;
	margin-left: 15px;

	&__item {
		display: flex;
		align-items: center;
		margin-right: 25px;
		margin-bottom: 13px;
		font-size: 15px;
		color: $gray_g;

		&:last-child {
			margin-right: 0;
		}


		svg {
			width: 18px;
			height: 18px;
			fill: $gray_g;
			margin-right: 14px;
		}
	}
}